@media (max-width:1680px){
	.tg-listinglistdetail .tg-detailpageheadcontent {padding: 310px 0 0;}
	body.rtl .tg-listinglistdetail .tg-detailpageheadcontent {padding: 310px 0 0 !important;}
}
@media(max-width:1600px){.sp-sc-video iframe{height:515px}
}@media(max-width:1440px){.tg-searchbox{width:54%}
.tg-accordionandcategorysearch{width:46%}
.tg-listingvtwo .tg-formsearch fieldset{padding:0}
.tg-listingvtwo .tg-formsearch .form-group{width:50%}
.tg-listingvtwo .tg-formsearch .form-group:nth-child(1),.tg-listingvtwo .tg-formsearch .form-group:nth-child(2){margin:0 0 20px}
.tg-listingvtwo .tg-formsearch .form-group:nth-child(odd){padding:0 10px 0 0}
.tg-listingvtwo .tg-formsearch .form-group:nth-child(even){padding:0 0 0 10px}
.tg-listingvtwo .tg-formsearch .tg-btn{width:100%;position:relative}
.tg-filters .tg-totallistingfound{width:100%;padding:0 0 10px}
.tg-listingvtwo .tg-filters .tg-sortfilters{width:100%}
.sp-sc-video iframe{height:535px}
.tg-homebannervtwo .tg-homebannerimg img{height:650px;width:auto!important;max-width:none}
.tg-listinglistdetail .tg-detailpageheadcontent {padding: 250px 0 0;}
body.rtl .tg-listinglistdetail .tg-detailpageheadcontent {padding: 250px 0 0 !important;}
}@media(max-width:1366px){.tg-searchbox{width:50%;float:right;padding:69px 25px}
.tg-formsearch fieldset legend{font-size:24px;line-height:30px}
.tg-searchbox .tg-btns .tg-btn{padding:0 30px}
.tg-accordionheading.tg-radio label{padding:14px}
.tg-accordionandcategorysearch{width:50%}
.tg-listview .tg-featuredimg{width:255px}
.tg-listview.tg-listingvtwo .tg-serviceproviders .tg-companycontent{padding:0 0 0 20px}
}@media(max-width:1280px){.tg-homebannerandslider>div>div>div{width:100%}
.tg-searchbox .tg-btns .tg-btn{padding:0 26px}
.tg-featuredprofile>figure{overflow:hidden;height:624px}
.tg-featuredprofile figure>img{width:100%!important;height:auto}
.tg-listview .tg-featuredimg{width:242px}
.tg-listingvtwo .tg-serviceproviders{padding:0 20px 0 13px}
.tg-matadata li:last-child{padding-right:0}
body.rtl .tg-matadata li:last-child{padding:0 10px}
.tg-listinglistdetail .tg-detailpageheadcontent {padding: 210px 0 0;}
}@media(max-width:1200px){.tg-listview.tg-listingvtwo .tg-serviceproviders .tg-companycontent{width:100%;float:left;padding:20px 0 0}
}@media(max-width:1199px){.tg-navigation>ul>li{padding:0 20px 0 0}
.tg-serviceprovidercontent .tg-matadata li{width:100%;padding:0}
.tg-serviceprovidercontent .tg-matadata li+li{padding:5px 0 0}
.tg-serviceprovidercontent .tg-matadata li:before{display:none}
.tg-testimonialnavigationslider{padding:30px 40% 0 0}
.tg-newsandposts{margin:-15px 0}
.tg-post{padding:15px 0}
.tg-post.tg-detailpage{padding:0}
.tg-feature{padding:15px}
.tg-formprogressbar:before,.tg-formprogressbar:after{left:160px}
.tg-formprogressbar li:after{left:54%}
.tg-posttags{padding:0}
.tg-posttags span{margin:6px 0;line-height:18px}
.tg-posttags .tg-tag{margin:5px}
.tg-secureandreliable .tg-textshortcode{padding:0 170px 0 20px}
.tg-tablejoblidting tr .tg-contentbox{width:70%;text-align:left}
.tg-amenities ul li span{font-size:13px}
.tg-certicicatesawards ul li .tg-textbox{padding:39px 0}
.tg-memberinfo{padding:10px 0}
.tg-formleavefeedback .tg-servicesrating li .tg-stars{width:84px;font-size:14px}
.tg-detailpagehead figure figcaption{padding:40px 0 160px}
.tg-listview .tg-serviceproviders .tg-companycontent{padding:10px 0 10px 30px}
.tg-companycontactinfo{padding:15px 0 0}
.tg-listview .tg-companycontent .tg-btn{margin:15px 0 0;position:relative}
.tg-jobmatadata li{width:50%;padding:1px}
.tg-benefitsallowances ul{font-size:13px}
.tg-reviewhead .tg-stars{float:left;margin:5px 0 0}
.tg-alertmessage span{width:100%;float:left}
.tg-dashboardnotificationholder{width:100%;float:left;padding:8px 15px}
.tg-ceocontent .tg-ceoinfo span{width:auto;float:none}
.tg-dashboardappointment .tg-servicetitle{padding:10px 20px}
.tg-dashboardappointment .tg-btntimeedit .tg-btndel,.tg-dashboardappointment .tg-btntimeedit .tg-btnedite{width:60px;height:60px;line-height:60px}
.tg-appointmenttype{padding:13px 0}
.tg-serviceandservicetype{padding:13px 20px 13px 0}
.tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite,.tg-dashboardappointment:hover .tg-btntimeedit .tg-btnedite{right:60px}
.tg-dashboardappointment:hover .tg-btntimeedit{padding-right:107px}
.tg-daybox span a{margin:0 8px}
.tg-daybox span a+a:before{left:-11px}
.tg-memberinfo a{width:100%;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tg-btnactions{width:100%;padding:10px 0 0}
.tg-emailmessage .tg-btnarea .tg-btn:first-child{padding:0 40px}
.tg-btnarea .tg-btn{padding:0 15px}
.tg-timecounter,.tg-pkgexpirey{width:100%}
.tg-countdown>span{padding:72px 45px}
.tg-pkgplans{padding:0}
.tg-pkgplan{margin:0 0 30px}
.tg-listview .tg-featuredimg{width:214px}
.tg-listview.tg-listingvtwo .tg-serviceproviders .tg-companycontent{width:auto;float:none;padding:0 0 0 15px}
.tg-listview.tg-listingvtwo .tg-companycontactinfo{padding:10px 0}
.tg-listview.tg-listingvtwo .tg-companycontactinfo li+li{padding:0}
.tg-fourcolumns .tg-footercolumn{padding:0;min-height:330px}
.tg-rightarea .tg-btn{padding:0 20px;margin:0 0 0 15px}
.tg-navigation>ul>li{padding:0 13px 0 0}
.tg-serviceproviders .row>div>div{width:100%}
.tg-sortfilter{width:100%}
.tg-sortfilter+.tg-sortfilter{margin:15px 0 0}
.tg-listingvtwo .tg-formsearch .form-group{width:100%;margin:0!important;padding:0!important}
.tg-listingvtwo .tg-formsearch .form-group+.form-group{margin:15px 0 0!important}
.tg-radiotimeslot .slot-detail{min-height:142px}
.tg-countdown+.tg-note{padding:11px 159px}
body.rtl .tg-rightarea .tg-btn{margin:0 15px 0 0!important}
body.rtl .tg-listview .tg-serviceproviders .tg-companycontent{padding:0 30px 0 0!important}
body.tg-login .tg-logoarea .tg-adminbox{width:230px}
.tg-contactbar li{padding:0 15px}
.tg-bannercontent h1{font-size:50px;line-height:45px}
.tg-bannercontent h2{font-size:40px;line-height:30px}
.tg-catagory a{padding:0 25px}
.tg-popularcatagories li{min-height:180px}
.sp-slider-v2 .tg-bannercontent h1,.sp-slider-v1 .tg-bannercontent h1{font-size:50px;line-height:40px}
.sp-slider-v2 .tg-bannercontent h2,.sp-slider-v1 .tg-bannercontent h2{font-size:30px;margin:0 0 15px;line-height:25px}
.sp-slider-v2 .tg-bannercontent .tg-description p,.sp-slider-v1 .tg-bannercontent .tg-description p{font-size:20px;line-height:25px}
.tg-listinglistdetail .tg-detailpageheadcontent {padding: 310px 0 0;}
.tg-listinglistdetail .tg-detailpagehead > figure > img {height: 350px; max-width: none; width: auto;}
.tg-listinglistdetail .tg-detailpagehead figure figcaption{padding:0;}
.tg-compnayinfo .tg-title h1 {font-size: 25px;line-height: 25px;}
.sp-header-v3 .tg-logoarea .tg-logo{ float: none; display: block; margin: 0 auto 20px;overflow: hidden; width: 185px;}
.sp-header-v3 .tg-logoarea .tg-rightbox{width:100%;}
body.rtl .sp-header-v2 .tg-navigation > ul > li {padding: 0 0 0 15px !important;}
body.rtl .sp-header-v2 .tg-rightarea .tg-btn {margin: 0 0 0 20px !important;}
body.rtl .sp-header-v1 .tg-navigation > ul > li {padding: 0 0 0 20px !important;}
}@media(max-width:1080px){.sp-header-v2 .tg-logo{float:none;width:201px;display:block;margin:0 auto 10px}
.sp-header-v2 .tg-rightarea{width:100%;text-align:right}
.sp-header-v2 .header-type-v2,.sp-header-v2 .sp-top-menu{float:none;display:inline-block;vertical-align:middle}
.tg-detailpagehead figure figcaption{padding:40px 0 160px}
.sp-sc-video iframe{height:555px}
.tg-searchbox{padding:54px 25px}
.tg-mapclustring{width:50%}
.tg-listingvtwo .tg-serviceproviders{width:49.9%}
body.rtl .sp-header-v2 .tg-logo{float:none;}
}@media(max-width:1050px){.tg-listview.sp-search-left .sp-vlist-item .tg-featuredimg{width:100%}
body.rtl .tg-listview.tg-listingvtwo .tg-serviceproviders .tg-companycontent{width:100%;float:left;padding:30px 0 0!important}
.tg-filters{padding:30px 0}
}@media(max-width:991px){.sp-comments-wrap li.tg-feedback .children{padding:0 0 0 50px}
.subcats_enabled.tg-mapinnerbanner .tg-formsearch, .subcats_enabled.tg-mapinnerbanner .tg-searchbox{height:auto}
.subcats_enabled.sp-search-provider-banner-v2 .tg-formsearch{padding:0;} 
.subcats_enabled.sp-search-provider-banner-v2.tg-mapinnerbanner .tg-formsearch .form-group {width: 100%;}
.sp-search-provider-banner-v2.subcats_enabled .tg-formsearch .tg-btn{position:relative; width: 100%;}
.tg-mapinnerbanner.subcats_enabled .tg-formsearch .form-group+.form-group {border-top: 1px solid #ddd; border-right: 1px solid #ddd;}
.sp-search-provider-banner-v2.subcats_enabled .tg-formsearch .tg-btn{border-radius: 0 0 5px 5px;}
.tg-navigationarea{padding:15px 0}
.tg-logo{width:201px;float:none;display:block;margin:0 auto 15px}
.tg-footercolumn .tg-logo{margin:0}
.tg-rightarea{padding:0;text-align:right;width:100%}
.tg-advantagies{margin:-15px 0}
.tg-advantage{padding:15px 0}
.tg-testimonials{padding:0}
.tg-testimonial h3{font-size:36px}
.tg-featureicon{width:45px;height:45px;line-height:45px}
.tg-featureicon i{font-size:20px}
.tg-featurecontent{padding:7px 0 0 10px}
.tg-featurecontent h3{font-size:16px;line-height:12px}
.tg-companyvideo{padding-bottom:0}
.tg-companyvideo .tg-textshortcode{padding:0 0 30px}
.tg-companyvideo .tg-videoshortcode{width:100%;height:auto;float:left;position:relative}
.tg-btnplay{margin:-46px 0 0 -46px}
.tg-videoshortcode figure img{width:100%;height:auto;max-width:100%}
.tg-noticeboard img{width:auto;display:block;margin:0 auto}
.tg-secureandreliable{margin:100px 0 0}
.tg-formprogressbar:before,.tg-formprogressbar:after{left:115px}
blockquote{padding:55px 0}
.tg-posttags{padding:0}
.tg-posttags .tg-tag{margin:4px;float:none;display:inline-block}
.tg-leftbox{width:100%;margin:0 0 15px}
.tg-rightbox{width:100%}
.sp-comments-wrap li.tg-feedback .tg-rightbox,.sp-comments-wrap li.tg-feedback .tg-leftbox{width:auto}
.sp-comments-wrap li.tg-feedback .tg-leftbox{margin:0}
.tg-rightbox .tg-socialicons li:first-child{padding-left:0}
.tg-secureandreliable .tg-textshortcode{padding:0 170px 0 0}
.tg-formlogin-register .tg-tabnav li a{width:100%;float:left}
.tg-formlogin-register .tg-tabnav li a>span{float:none}
.tg-formlogin-register .tg-tabnav .tg-navcontent{width:100%;float:left;margin:10px 0 0}
.tg-themetabcontent .tg-checkbox{padding:6px 0}
.tg-detailpagehead figure figcaption{padding:40px 0 160px}
.tg-detailpageheadcontent{padding:9px 170px 9px 0}
.tg-detailpageheadcontent .tg-title h1{font-size:25px;line-height:30px}
.tg-serviceproviderdetail .tg-sidebar{margin:0}
.tg-certicicatesawards ul li .tg-textbox{padding:0}
.tg-certicicatesawards .tg-textbox h4,.tg-certicicatesawards .tg-textbox time{margin:0 0 9px}
.tg-overallratingbox,.tg-certicicatesawards .tg-textbox time{width:100%}
.tg-ourteam ul li,.tg-amenities ul li{width:50%}
.tg-gallery ul li{width:33.33%}
.tg-formleavefeedback .tg-companyfeaturetitle{padding:20px 0}
.tg-formleavefeedback .tg-servicesrating li .tg-stars{width:100px}
.tg-listing .tg-sortfilters,.tg-listing .tg-totallistingfound{width:100%}
.tg-listing .tg-sortfilter{float:none;display:inline-block;vertical-align:middle}
.tg-listing .tg-sortfilter+.tg-sortfilter{margin:0 0 0 6px}
.tg-qaulifications .tg-panel .tg-accordionheading h4 span+span{width:100%;padding:8px 0 0}
.tg-listview .tg-featuredimg{width:100%;margin:0 0 20px}
.tg-listview .tg-serviceproviders .tg-companycontent{width:100%;float:left;padding:10px 0 10px 0}
.tg-widgetlocationandcontactinfo .tg-contactinfo li i{width:20px}
.tg-benefitsallowances ul{font-size:12px}
.tg-benefitsallowances ul li{width:50%}
.tg-ceobottom .tg-logo{float:left;margin:20px 0 0}
.tg-sortfilter+.tg-sortfilter{margin:0 0 0 13px}
.tg-dashboardappointment .tg-servicetitle{width:100%}
.tg-serviceandservicetype{float:left;padding:13px 0 13px 20px}
.tg-appointmenttype{margin:0 15px 0 0}
.tg-dashboardappointmentsettingbox .tg-col,.tg-dashboardappointmentsettingbox .tg-col+.tg-col{width:50%}
.tg-radiotimeslot,.tg-slots .form-group{width:100%}
.tg-dashboardfavoritelisting .tg-dashboardappointment:hover .tg-btntimeedit{padding:0}
.tg-dashboardmanageservices .tg-servicetitle{width:100%}
.tg-dashboardmanageservices .tg-btntimeedit{width:100%;padding:0 0 0 20px}
.tg-updateall{text-align:center}
.tg-note{width:100%}
.tg-updateall .tg-btn{float:none}
.tg-manageteam .form-group{padding:0}
.tg-manageteam .form-group .tg-btn{margin:15px 0 0;position:relative}
.tg-actionnav{margin:0 0 15px}
.tg-actionnav li{margin:0 5px 0 0}
.tg-emailnavbox{width:100%;height:325px;padding:10px}
.tg-messagespagecount{width:100%}
.tg-commingsooncontent .tg-logo{float:left;padding:0}
.tg-commingsooncontent .tg-bordertitle h2{font-size:30px;line-height:25px}
.tg-countdown>span{padding:72px 25px}
.tg-listview.tg-listingvtwo .tg-serviceproviders .tg-companycontent{padding:0;width:100%;float:left}
.tg-tablejoblidting tr td,.tg-tablejoblidting tr td:first-child{width:100%;float:left;padding:20px;display:block;text-align:left}
body.rtl .tg-tablejoblidting tr td,body.rtl .tg-tablejoblidting tr td:first-child{text-align:right}
.tg-filters{padding-left:0}
.tg-listing .tg-sortfilter+.tg-sortfilter{margin:10px 0 0}
.tg-fourcolumns .tg-footercolumn{padding:0;min-height:380px}
.tg-timelinetabcontent .tg-textshortcode{margin:0 0 30px}
.tg-searchbox{padding:69px 25px}
.tg-listingvtwo .tg-map{height:calc(100vh - 177px)}
.admin-bar .tg-listingvtwo .tg-map{height:calc(100vh - 155px)}
.tg-listingvtwo .tg-mapclustring.is_stuck .tg-map{height:calc(100vh - 127px)}
.tg-listview.sp-search-left .sp-vlist-item .tg-featuredimg{width:100%}
.form-sort-jobs .tg-sortfilter+.tg-sortfilter,.form-sort-articles .tg-sortfilter+.tg-sortfilter,.sp-appointment-form-search .tg-sortfilter+.tg-sortfilter{margin:13px 0 0}
body.rtl .tg-ceobottom .tg-logo{float:right!important}
.tg-radiotimeslot .slot-detail{min-height:auto}
.tg-countdown+.tg-note{padding:11px 55px}
body.rtl .tg-logo{width:160px;float:none!important}
body.rtl .tg-listview .tg-serviceproviders .tg-companycontent{padding:0 30px 0 0 !important;}
.sp-header-v2 .header-type-v2,.sp-header-v2 .tg-btnpostanewjob{display:inline-block;vertical-align:middle;float:none}
.sp-header-v2 .tg-nav{float:left}
body.author .tg-postmatadata.tg-postmatadatalikeunlike{width:100%;float:left;padding:15px 0 0}
.questions-widgets .tg-answerholder{padding:0}
.questions-widgets .tg-answerholder .tg-docimg{position:relative;padding:0 0 15px;float:left}
.questions-widgets .tg-questioncontent .tg-answerholder h4{width:100%;float:left}
.questions-widgets .tg-votesanswers li+li{padding:0 0 0 6px}
.tg-headervtwo .tg-navigationarea .tg-btnpostanewjob{font-size:12px;padding:0 15px 0 0}
.tg-navigation>ul>li{padding:0 15px 0 0}
.tg-contactbar li{padding:0 10px}
.tg-logoarea .tg-adminbox{padding:0 0 0 10px}
.tg-bannercontent h2{font-size:30px;line-height:20px}
.tg-bannercontent .tg-description p{font-size:18px;line-height:25px}
.tg-catagory{text-align:center;min-height:120px}
.tg-popularcatagories li{min-height:150px}
.tg-generallabor li a{height:80px}
.tg-generallabor li a i{color:#fff;font-size:35px;line-height:35px}
.tg-bannerholder .tg-bannercontent h1{font-size:40px;line-height:35px}
.tg-bannerholder .tg-bannercontent h2{font-size:20px;line-height:18px}
.tg-headervthree .tg-leftbox{margin:0;width:auto}
.tg-homebannervtwo .tg-homebannerimg img{height:800px}
.tg-bannerholder .tg-bannercontent{margin:-270px 0 0}
.tg-bannerholder .tg-bannercontent .tg-bannercaption{margin:0 0 30px}
.sp-slider-v2 .tg-bannercontent h1,.sp-slider-v1 .tg-bannercontent h1{font-size:35px;line-height:30px}
.sp-slider-v2 .tg-bannercontent h2,.sp-slider-v1 .tg-bannercontent h2{font-size:25px;margin:0 0 10px;line-height:20px}
	.tg-designone{margin:0px;}
	.tg-dragdropimg h3 {
		font-size: 20px;
		line-height: 25px;
	}
	.tg-sortcontentitems .tg-profilewidget{margin:30px 0 0;}
	.tg-compnayinfo .tg-rightarea{
		float:left;
		width:100%;
		padding:8px 0 0;
	}
	.tg-listnav {
		right: 0;
		top: 20px;
		margin: 0;
		position: absolute;
	}
	.tg-compnayinfo .tg-title h1 {
		font-size: 18px;
		line-height: 18px;
	}
	.tg-compnayinfo .tg-title span {
		font-size: 14px;
		line-height: 14px;
	}
	.tg-btnappointment span{
		font-size:14px;
		line-height:35px;
	}
	.tg-detailheadinfo{padding:20px 0;}
	.tg-detailheadinfo figure {margin: -40px 0 0;}
	body.rtl .sp-header-v3 .tg-navigation > ul > li {padding: 0 0 0 25px !important;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-adminbox {
		width: 250px;
		margin: 0 auto;
		float: none;
		display: block;
		overflow: hidden;
		padding: 0;
		border: 0;
	}
	body.rtl .sp-header-v3 .tg-logoarea .tg-contactbar{width:100%; text-align:center; padding:0 0 25px;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-contactbar li{float:none; display:inline-block; vertical-align:middle;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-contactbar li + li {border-right: 1px dashed #dbdbdb; border-left: 0;}
	body.rtl .sp-header-v1 .tg-navigation > ul > li.menu-item-has-icon > a:before,
	body.rtl .sp-header-v1 .menu-item-has-children a:before, .page_item_has_children a:before{left:auto; right:20px;}
}@media(max-width:900px){.sp-header-v2 .tg-btndropdown{padding:5px 0 5px 5px}
.sp-sc-video iframe{height:495px}
.sp-header-v2 .tg-nav{width:100%}
.sp-header-v2 .tg-nav .tg-navigation>ul{text-align:center}
.sp-header-v2 .tg-nav .tg-navigation ul li{float:none;display:inline-block;vertical-align:middle}
.sp-header-v2 .tg-rightarea .tg-btn{margin:0 0 0 5px}
.sp-header-v2 .header-type-v2{float:left}
body.rtl .sp-header-v2 .tg-rightarea .tg-btn{float:right;}
}@media(max-width:800px){.tg-detailpagehead figure figcaption{padding:20px 0 160px}
.tg-homebanner .owl-dots{display:none}
.tg-headervtwo .tg-logoarea .tg-rightbox{text-align:center}
}@media(max-width:767px){.sp-form-search .tg-accordionandcategorysearch{width:100%}
.sp-search-provider-banner-v2 .tg-formsearch .tg-btn{width:60px;}
.tg-addressinfo{float:left;text-align:center}
.tg-addressinfo li{float:none;padding:0 15px;display:inline-block;vertical-align:top}
.tg-dropdowarrow{display:block}
.tg-sectiontitle h2{font-size:20px;line-height:22px}
.tg-rightarea{width:auto; float: right;padding: 9px 0;}
.navbar-toggle{margin:0;padding:13px}
.navbar-toggle .icon-bar{background:#fff}
.tg-navigation{top:100%;left:0;width:100%;z-index:100;background:#fff;margin:16px 0 0;position:absolute}
.tg-navigation ul li{padding:0;width:100%;float:left;text-align:left}
.tg-navigation>ul>li:last-child i{display:none}
.tg-navigation>ul>li:last-child i+i{display:block}
.tg-navigation>ul>li:last-child .tg-dropdowarrow i{display:block}
.tg-navigation>ul>li.menu-item-has-children>a,.tg-navigation ul li a{z-index:1;width:100%;float:left;padding:0 20px;line-height:40px;position:relative}
.tg-navigation ul li+li a{border-top:1px solid #ddd}
.tg-navigation ul li a:after,.tg-navigation ul li.menu-item-has-children a:before{display:none}
.mega-menu,.sub-menu{opacity:1;width:100% !important;float:left;display:none;position:static;box-shadow:none;visibility:visible}
.sub-menu li+li{border:0}
.sub-menu.mega-menu-row>li{width:100%;float:left;padding:0}
.sub-menu.mega-menu-row>li ul{display:block!important}
.mega-menu .mega-menu-row>.mega-menu-col a{margin:0;padding:0!important}
.mega-menu .mega-menu-row>.mega-menu-col>a{padding:0 20px!important}
.sub-menu.mega-menu-row>li a.fa{padding:0 0 0 35px!important}
.mega-menu .mega-menu-row>.mega-menu-col a.fa:before{top:0;left:15px;display:block;line-height:inherit;font-family:'FontAwesome'}
.sub-menu.mega-menu-row>li .tg-dropdowarrow{display:none}
.sub-menu,.children,.mega-menu{font-size:14px}
.sp-header-v2 .tg-navigation>ul>li:first-child .sub-menu{border-top:0}
.tg-navigation ul li .sub-menu li a{padding:0 30px}
.mega-menu .mega-menu-row .sub-menu li a{padding:0 35px!important}
.sp-header-v2 .tg-nav{width:auto}
.sp-header-v2 .header-type-v2{float:none}
.tg-searchbox{width:100%}
.tg-formsearch fieldset legend{font-size:25px}
.tg-featuredprofile>figure,.tg-featuredprofile>figure>img{height:auto}
.tg-featuredprofilecontent{padding:0 15px 15px}
.tg-category figure figcaption .tg-categoryicon{width:50px;height:50px;font-size:20px;line-height:50px;margin:0 0 10px}
.tg-category figure figcaption.tg-automotive .tg-categoryicon{line-height:44px}
.tg-category figure figcaption .tg-themetag{right:10px;bottom:10px}
.tg-clientlargedp{margin:0 0 30px;float:left}
.tg-features li{width:100%;padding:1px 0}
.tg-footerbar span{width:100%;float:left;text-align:center}
.tg-footernav,.tg-footernav ul{width:100%;float:left;text-align:center}
.tg-footernav ul li{float:none;display:inline-block;vertical-align:top}
.tg-404errorimg{margin:0 0 30px}
.tg-404errorcontent .tg-bordertitle h2{font-size:50px;line-height:35px}
.tg-404errorcontent .tg-bordertitle h3{font-size:18px;line-height:20px}
.tg-404errorcontent .tg-themeform fieldset{padding:0}
.tg-404errorcontent .tg-themeform fieldset .tg-btn{width:100%;margin:0 0 10px;position:relative}
.tg-companyfeaturebox.tg-reviews{margin:0 0 30px}
.tg-bloglist{margin:-15px 0 15px 0}
.tg-themetabcontent .tg-checkbox{padding:19px 0}
.tg-loginarea{margin:30px 0 0}
.tg-detailpagehead>figure>img{width:auto;height:100%;display:block}
.tg-detailpagehead figure figcaption{padding:50px 0}
.tg-detailpageheadcontent .tg-title span{padding:5px 0 0}
.tg-certicicatesawards ul li .tg-textbox{padding:40px 0}
.tg-overallrating{left:auto;right:100%}
.tg-overallrating:before{right:auto;left:100%}
.tg-listing{margin:0 0 30px}
.tg-listview .tg-featuredimg{width:270px;margin:0 30px 0 0}
.tg-listview .tg-serviceproviders .tg-companycontent{width:auto;float:none;overflow:hidden}
.tg-benefitsallowances ul{font-size:14px}
.tg-ceobottom .tg-logo{float:right;margin:20px 0 0}
.tg-dashboardappointment .tg-servicetitle{width:auto}
.tg-serviceandservicetype{float:none;padding:13px 20px 13px 0}
.tg-dashboardappointmentsettingbox .tg-col{width:35%}
.tg-dashboardappointmentsettingbox .tg-col+.tg-col{width:65%}
.tg-radiotimeslot{width:33.33%}
.tg-note{width:auto}
.tg-updateall .tg-btn{float:right}
.tg-manageteam .tg-teammembers li{width:33.33%}
.tg-socialinformationbox>div>div:nth-last-child(2)>div{margin:0 0 20px}
.tg-twocols{width:100%}
.tg-commingsoonholder{display:block;position:relative}
.tg-copyrights{position:relative}
.tg-twocols+.tg-twocols{padding:30px 13px 0 13px}
.tg-countdown>span{padding:72px 40px}
.tg-detailpageheadcontent{padding:0}
.tg-detailpageheadcontent .tg-btn{float:left;margin:20px 0 0;position:relative}
.tg-featuredprofileslider .tg-featuredprofile figure{height:400px}
.tg-searchbox{padding:20px}
.tg-sidebar{padding:60px 0 0}
.tg-navigationarea.scroll-to-fixed-fixed,.sticky-map .tg-navigationarea{width:100%;float:left;position:static!important}
.tg-navigationarea.scroll-to-fixed-fixed+div,.sticky-map .tg-navigationarea+div{display:none!important}
.tg-navigationarea.scroll-to-fixed-fixed .tg-logo,.sticky-map .tg-navigationarea .tg-logo{width:201px}
.tg-bannercontent h1{margin:0;font-size:30px;line-height:33px}
.tg-bannercontent h2{margin:0 0 30px;font-size:22px;line-height:25px}
.tg-mapclustring{width:100%;top:0!important;position:static!important}
.tg-listingvtwo .tg-mapclustring.is_stuck .tg-map,.tg-listingvtwo .tg-map{height:calc(100vh - 200px)}
.tg-listingvtwo .tg-serviceproviders{width:100%}
body.rtl .tg-navigation>ul>li{padding:0!important}
.page-template-dashboard .tg-sidebar{padding:0 0 60px}
body.rtl .tg-ceobottom .tg-logo{float:left!important}
.docdirect-bbpress-support{padding:0 15px}
body.rtl .tg-clientlargedp{float:right}
body.rtl .tg-featuredprofiles h1{right:20px!important}
.sp-search-provider-banner-v2 .tg-formsearch{padding:0 60px 0 0}
body.rtl .tg-detailpage .tg-detailpageheadcontent{padding:0}
body.rtl .tg-detailpage .tg-detailpageheadcontent .tg-btn{float:right}
body.rtl .tg-jobdetail .tg-detailpageheadcontent{padding:0!important}
.gallery-columns-1 figure,.gallery-columns-2 figure,.gallery-columns-3 figure,.gallery-columns-4 figure,.gallery-columns-5 figure,.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item{padding:5px!important}
.gallery-columns-6 figure,.gallery-columns-7 figure,.gallery-columns-8 figure,.gallery-columns-9 figure,.gallery-columns-6 .gallery-item,.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item{padding:2px!important}
#gallery-1,#gallery-2,#gallery-3,#gallery-4,#gallery-5,#gallery-6,#gallery-7,#gallery-8,#gallery-9,#gallery-10{margin:0!important}
body.author .tg-postmatadata.tg-postmatadatalikeunlike{width:auto;padding:0;float:right}
.sp-sc-post-questions .tg-votesanswers,.sp-sc-questions .tg-votesanswers{width:100%;float:left;margin-top:15px}
.tg-headervtwo .tg-logo{float:left}
.tg-logoarea .tg-contactbar{width:100%;text-align:center}
.tg-contactbar li{float:none;display:inline-block;vertical-align:middle}
.tg-logoarea .tg-adminbox{top:42px;border:0;right:15px;position:absolute}
.tg-headervtwo .tg-navigationarea .tg-nav{margin:4px 0}
.tg-navresponsive .tg-navigation{margin:0}
.tg-navresponsive .tg-navigation>ul>li:last-child i{display:block}
.tg-navresponsive .sub-menu li a,.tg-navresponsive .tg-navigation>ul>li>a,.tg-navresponsive .tg-navigation>ul>li.menu-item-has-children>a{color:#484848;padding:0 20px;line-height:40px}
.tg-bannercontent h1{font-size:30px;line-height:30px;padding-bottom:15px}
.tg-bannercontent h2{font-size:20px;line-height:20px}
.tg-homebanner .tg-bannercontent .tg-btnbox{padding:10px 0 0}
.tg-bannercontent .tg-description p{font-size:15px;line-height:20px}
.tg-searchbycatagory .tg-catagory{width:25%;border:1px solid #eee}
.tg-searchbycatagory .tg-catagory:first-child{border-radius:10px 0 0 0}
.tg-searchbycatagory .tg-catagory+.tg-catagory{border-left:0}
.tg-searchbycatagory .tg-catagory:nth-child(5){border-top:0;border-left:1px solid #eee}
.tg-searchbycatagory .tg-catagory:last-child{border-top:0;border-radius:0 0 10px 0}
.tg-generallabor li a i{font-size:30px;line-height:30px}
.tg-bannerholder .tg-bannercontent{margin:-320px 0 0}
.tg-homebannervtwo .tg-homebannerimg img{height:800px}
.tg-headervthree .tg-logo{top:0;left:48%;width:140px;position:absolute;margin:0 0 0 -70px}
.tg-headervthree .tg-leftbox{padding:70px 0 0}
.tg-headervthree .tg-logoarea .tg-adminbox{top:auto;right:auto;float:right;padding:70px 0 0;position:relative}
.tg-navresponsive .tg-dropdowarrow{top:10px}
.tg-homebanner .owl-dots{display:none}
.tg-navresponsive .sub-menu li a,.sp-header-v4 .tg-nav{line-height:40px!important}
.mega-menu .mega-menu-row>.mega-menu-col+.mega-menu-col{border-left:0!important}
.sp-header-v2 .tg-nav .tg-navigation ul li{width:100%;float:left}
.mega-menu .mega-menu-row>.mega-menu-col a{line-height:40px}
.tg-fixednav .tg-logo{display:block; float: left; margin: 0;}
.sp-header-v2 .tg-logo {
    float: none;
    width: 201px;
    margin: 0 auto 10px;
}
.tg-navigation > ul > li.menu-item-has-icon > a.fa,
.tg-navigation > ul > li.page_item_has_children > a.fa,
.tg-navigation > ul > li.menu-item-has-children > a.fa {padding: 0 0 0 40px;}
.tg-navigation > ul > li.menu-item-has-icon > a:before,
.tg-navigation > ul > li.menu-item-has-children > a:before,
.tg-navigation > ul > li.page_item_has_children > a:before {left: 20px;}
.tg-navigation span.sp-tag {right: 20px;}
.mega-menu .mega-menu-row > .mega-menu-col a.fa {line-height: 40px;}
.mega-menu .mega-menu-row > .mega-menu-col .sub-menu > li:first-child > a{border-top:1px solid #ddd;}
.sp-header-v3 .tg-navigation > ul > li.menu-item-has-icon > a.fa,
.sp-header-v3 .tg-navigation > ul > li.page_item_has_children > a.fa,
.sp-header-v3 .tg-navigation > ul > li.menu-item-has-children > a.fa {padding: 0 0 0 40px;}
.sp-header-v3 .tg-navigation > ul > li.menu-item-has-icon > a:before,
.sp-header-v3 .menu-item-has-children a:before,
.sp-header-v3 .page_item_has_children a:before,
.sp-header-v4 .tg-navigation > ul > li.menu-item-has-icon > a:before,
.sp-header-v4 .menu-item-has-children a:before,
.sp-header-v4 .tg-navigation > ul > li.menu-item-has-children > a:before {line-height: 40px;}
.sp-header-v4 .tg-navigation > ul > li.menu-item-has-icon > a:before,
.sp-header-v4 .tg-navigation > ul > li.menu-item-has-children > a:before{
	left:20px;
	right:auto;
}
.tg-listinglistdetail .tg-detailpagehead > figure > img {height: 290px;}
	.tg-listinglistdetail .tg-detailpageheadcontent {padding: 240px 0 0;}
	.tg-detailheadinfo figure {margin: 0;}
	.tg-detailheadholder.tg-fixedholder .tg-compnayinfo{
		padding:0;
		width:100%;
	}
	
	body.rtl .tg-headervthree .tg-navigation > ul > li.menu-item-has-children > a {padding:0 20px !important; }
	body.rtl .tg-navigation > ul > li.menu-item-has-icon > a.fa,
	body.rtl .tg-navigation > ul > li.page_item_has_children > a.fa,
	body.rtl .tg-navigation > ul > li.menu-item-has-children > a.fa {padding: 0 40px 0 40px;}
	body.rtl .tg-headervthree .tg-logoarea .tg-adminbox {float: left;}
	body.rtl .sp-header-v4 .tg-navigation > ul > li.menu-item-has-icon > a:before,
	body.rtl .sp-header-v4 .tg-navigation > ul > li.menu-item-has-children > a:before {
		right: 20px;
		left: auto;
	}
	body.rtl .mega-menu .mega-menu-row .sub-menu li.menu-item-has-icon a {padding: 0 40px!important;}
	body.rtl .mega-menu .mega-menu-row .sub-menu li a {padding: 0 30px!important;}
	body.rtl .mega-menu .mega-menu-row>.mega-menu-col a.fa:before {right: 20px; left:auto;}
	body.rtl .sp-header-v3 .tg-navigation > ul > li.menu-item-has-children > a {padding: 0 20px !important;}
	body.rtl .sp-header-v3 .tg-navigation > ul > li.menu-item-has-icon > a:before,
	body.rtl .sp-header-v3 .menu-item-has-children a:before,
	body.rtl .sp-header-v3 .page_item_has_children a:before{
		line-height: 40px;
		left: auto;
		right: 20px;
	}
	body.rtl .sp-header-v3 .mega-menu .mega-menu-row li .sub-menu li.menu-item-has-icon a:before {
		right: 20px !important;
		line-height: 40px !important;
	}
	.sp-header-v3 .tg-logoarea .tg-logo {float: left; margin: 0;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-rightbox{padding:0;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-contactbar {padding: 25px 0 0 ;}
	body.rtl .sp-header-v3 .tg-logoarea .tg-adminbox{margin:0; left:15px; right:auto;}
	body.rtl .sp-header-v2 .tg-rightarea .tg-btn {margin: 0 20px 0 0 !important;}
	body.rtl .sp-header-v2 .tg-navigation > ul > li.menu-item-has-icon > a:before,
	body.rtl .sp-header-v2 .menu-item-has-children a:before, .page_item_has_children a:before{left:auto; right:20px;}
}@media(max-width:739px){.tg-certicicatesawards ul li .tg-textbox{padding:30px 0}
body.rtl .blog_single .tg-postshare{padding:10px 0 0;width:auto!important;float:right!important}
body.rtl .tg-tagsshare span{line-height:28px}
body.rtl .tg-tagsshare span{padding:0}
}@media(max-width:640px){.tg-postshare{width:100%;margin:20px 0 0}
.tg-detailpageheadcontent .tg-title h1{font-size:20px}
.tg-certificatesawardsModal .tg-modaldialog{width:100%}
.sp-comments-wrap li.tg-feedback .children{padding:0 0 0 30px}
.tg-headervtwo .tg-logoarea .tg-contactbar{padding:20px 0 0}
.tg-logoarea .tg-rightbox{padding:0}
.tg-headervtwo .tg-logo{margin:0}
.tg-logoarea .tg-adminbox{padding:12px 0 12px 10px}
.tg-homebannerimg img{height:350px;width:auto!important;max-width:none}
.tg-topcategoriesvtwo>[class^="col-"],.tg-topcategoriesvtwo>[class*="col-"]{width:100%}
.tg-popularcatagories li{width:100%}
.tg-popularcatagories li+li{border-left:0}
.tg-generallabor li{width:25%}
.tg-detailheadinfo figure{width:150px;}
.tg-compnayinfo{width: 100%;padding: 20px 0 0 !important;}
 .sp-header-v3 .tg-logoarea .tg-contactbar{display:none !important;}
}@media(max-width:639px){.tg-secureandreliable .tg-textshortcode{padding:0 0 30px}
.tg-secureandreliable .tg-btn{margin:0;position:relative}
.tg-brand{width:33.33%}
.tg-formprogressbar:before,.tg-formprogressbar:after{left:95px}
.tg-formprogressbar li:after{left:55%}
.tg-reminderemail{width:100%;float:left;margin:20px 0 0}
.tg-appointmentsummry li strong{width:35%}
.tg-appointmentsummry li span{width:65%}
.tg-dashboardappointment .tg-servicetitle{width:100%}
.tg-serviceandservicetype{float:left;padding:13px 0 13px 20px}
.tg-fourcolumns [class^="col-"],.tg-fourcolumns [class*="col-"]{width:100%}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata li{padding:0 10px}
.tg-fourcolumns .tg-footercolumn{min-height:0;padding:15px 0}
.tg-countdown+.tg-note{padding:11px 20px}
.tg-invoicedetail li span{width:100%}
.tg-invoicedetail li span:first-child{width:100%;padding-bottom:0}
}@media(max-width:568px){.tg-detailpagehead figure figcaption{padding:45px 0}
.tg-detailpageheadcontent{padding:9px 0 9px 0}
.tg-detailpageheadcontent .tg-btn{top:0;float:left;margin:20px 0 0;position:relative}
.tg-listview .tg-featuredimg{width:100%;margin:0 0 20px}
.tg-listview .tg-serviceproviders .tg-companycontent{width:100%;float:left}
.tg-note{width:100%}
.tg-updateall .tg-btn{float:none}
.tg-manageteam .tg-teammembers li{width:50%}
.tg-counterbox{width:100%}
.tg-commingsooncontent .tg-themeform fieldset{padding:0}
.tg-commingsooncontent .tg-themeform fieldset .tg-btn{width:100%;margin:15px 0 0;position:relative}
.tg-commingsooncontent .tg-bordertitle h2{font-size:23px}
.tg-commingsooncontent .tg-bordertitle h3{font-size:15px;line-height:18px}
.tg-updateall{height:100px}
.tg-note{font-size:11px}
.tg-map{height:276px;margin:-276px 0 0}
body.author .tg-answerholder{padding:0}
body.author .tg-answerholder .tg-docimg{float:left;position:static;margin:0 0 15px}
body.author .tg-questioncontent h4{width:100%;float:left}
body.author .tg-votesanswers{width:100%;float:left;padding:15px 0 0}
.tg-searchbycatagory .tg-catagory{width:100%}
.tg-searchbycatagory .tg-catagory+.tg-catagory{border-top:0;border-left:1px solid #eee}
	.tg-formlogin-facebook .tg-tabnav li,
	.tg-themetabcontent .form-group {width: 100%;}
	.tg-formlogin-facebook .tg-companyregister .form-group{padding:0;}
	.tg-formlogin-facebook .tg-companyregister .form-group .tg-registeras span{margin:0 0 10px;}
	.tg-formlogin-facebook .tg-companyregister .form-group .tg-registeras span,
	.tg-formlogin-facebook .tg-companyregister .form-group .tg-registeras .tg-radio{
		width:100%;
		text-align:left;
	}
	.tg-formlogin-facebook .tg-companyregister .form-group .tg-registeras .tg-radio + .tg-radio{margin:10px 0 0;}
}@media(max-width:567px){.tg-featuredprofiles h1{top:15px;left:15px}
.tg-mapinnerbanner .tg-formsearch .tg-btn {width: 100%;float: left;position: static;}
.tg-homebannerandslider .tg-featuredprofiles h1{top:10px;left:10px;font-size:22px;line-height:30px}
.owl-carousel .owl-item>img{width:auto!important;max-width:none;height:400px}
.tg-contentbox{width:100%}
.tg-featuredprofile figcaption .tg-btn{float:left;margin-bottom:0}
.tg-listing>.tg-serviceproviders [class^="col-"],.tg-listing>.tg-serviceproviders [class*="col-"],.tg-bloggird>div[class^="col-"],.tg-bloggird>div[class*="col-"],.tg-servicesfacilities>div[class^="col-"],.tg-servicesfacilities>div[class*="col-"],.tg-topcategories [class^="col-"],.tg-topcategories [class*="col-"],.tg-categoriesgrid [class^="col-"],.tg-categoriesgrid [class*="col-"],.tg-advantagies [class^="col-"],.tg-advantagies [class*="col-"],.tg-latestserviceproviders [class^="col-"],.tg-latestserviceproviders [class*="col-"],.tg-newsandposts [class^="col-"],.tg-newsandposts [class*="col-"]{width:100%}
.tg-testimonial h3{font-size:25px}
.tg-progressbox{padding:30px}
.tg-appointmentsummry li strong,.tg-appointmentsummry li span{width:100%}
.tg-appointmentsummry li strong{margin:0 0 10px}
.tg-formprogressbar{display:none}
.tg-appointmentheading h2{padding:20px 0;font-size:20px;line-height:20px}
.tg-mapinnerbanner .tg-formsearch,.tg-mapinnerbanner .tg-searchbox{height:auto}
.tg-mapinnerbanner .tg-formsearch .form-group{width:100%;border-left:0}
.tg-mapinnerbanner .tg-formsearch .form-group+.form-group{border-top:1px solid #ddd}
.tg-formlogin-register .tg-tabnav li,.tg-themetabcontent .form-group{width:100%}
.tg-formlogin-register .tg-tabnav li+li a{border:0;border-radius:0}
.tg-registeras .tg-radio input[type=radio]+label{font-size:12px}
.tg-formlogin-register .tg-socialsharewithtext{width:100%;margin:20px 0 0}
.tg-videogallerybox .form-group,.tg-languagesbox .form-group,.tg-amenitiesfeaturesbox .form-group{padding:0}
.tg-videogallerybox .form-group .tg-btn,.tg-languagesbox .form-group .tg-btn,.tg-amenitiesfeaturesbox .form-group .tg-btn{top:auto;right:auto;width:100%;margin:15px 0 0;position:relative}
.tg-benefitsallowances ul{margin:0 0 30px}
.tg-videogallerybox ul li,.tg-countdown>span,.tg-benefitsallowances ul li,.tg-jobmatadata li{width:100%}
.tg-countdown>span>span{float:none;width:35px;font-size:55px;display:inline-block}
.tg-countdown>span.countDays:before,.tg-countdown>span.countHours:before,.tg-countdown>span.countMinutes:before,.tg-countdown>span.countSeconds:before{font-size:20px;line-height:22px}
.tg-mapinnerbanner .tg-formsearch{padding:4px}
body.rtl .tg-featuredprofile figcaption .tg-btn{float:right!important}
.sp-searchQBox .submitquestion{position:relative;width:100%}
.sp-searchQBox .field-control{padding:0 15px}
.tg-headervthree .tg-loginregister{margin:auto;float:none}
.tg-headervtwo .tg-logoarea .tg-contactbar{width:auto;display:inline-block;vertical-align:middle;float:left;text-align:left}
.tg-headervtwo .tg-logoarea .tg-contactbar li{border:0;display:block;padding:10px 0}
}@media(max-width:480px){.tg-addressinfo{width:100%}
.tg-secureandreliable .tg-textshortcode h2{font-size:20px;line-height:20px}
.tg-secureandreliable .tg-textshortcode h3{font-size:25px;line-height:25px}
.tg-certicicatesawards ul li figure,.tg-brand{width:100%}
.tg-certicicatesawards ul li figure{margin:0 0 30px}
.tg-certicicatesawards ul li figure img{width:100%;height:auto;display:block}
.tg-certicicatesawards ul li .tg-textbox{padding:0;width:100%;float:left}
.tg-daybox{margin:0 0 30px;height:120px!important}
.tg-listview .tg-sortfilter+.tg-sortfilter{margin:10px 0 0}
.tg-dashboardappointmentsettingbox .tg-col,.tg-dashboardappointmentsettingbox .tg-col+.tg-col{width:100%}
.tg-radiotimeslot{width:50%}
.tg-startendtime .form-group{width:100%}
.tg-startendtime .form-group:nth-child(even){padding:0}
.tg-addtimeslot{top:50%;margin:-20px 0 0}
.tg-manageteam .tg-teammembers li{width:100%}
.tg-addallowance .form-group{padding:0}
.tg-addallowance .form-group .tg-btn{width:100%;margin:15px 0 0;position:relative}
.tg-allowances li{width:100%}
.tg-privacysetting{padding:14px 10px}
.tg-footernav ul li{padding:0 0 0 9px}
.tg-certificatesaward .tg-btntimeedit .tg-btnedite,.tg-certificatesaward .tg-btntimeedit .tg-btndel{width:40px;height:40px;line-height:40px}
.tg-certificatesaward:hover .tg-btntimeedit .tg-btnedite{right:40px}
.tg-qualification .tg-imgandtitle,.tg-experience .tg-imgandtitle{padding:10px}
.tg-certificatesaward .sp-award-photo-thumb{display:none}
.tg-imgandtitle{padding:10px}
#bbpress-forums #bbp-single-user-details{width:100%}
#bbpress-forums #bbp-user-body{margin-right:0}
.single-sp_questions .tg-answerholder{padding:0}
.single-sp_questions .tg-answerholder .tg-docimg{float:left;margin:0 0 15px;position:static;overflow:hidden}
.tg-questioncontent h4{width:100%;float:left}
body.author .tg-postmatadata.tg-postmatadatalikeunlike{width:100%;float:left;padding:15px 0 0}
body.author .tg-companyfeaturebox .tg-postmatadata li{width:100%;float:left}
body.author .tg-companyfeaturebox .tg-questionbottom .tg-btn{width:100%;padding:0}
body.author .tg-companyfeaturebox .tg-postmatadata li:before{display:none}
body.author .tg-companyfeaturebox .tg-postmatadata li+li{padding:15px 0 0}
.tg-headervtwo .tg-logo{float:none;width:200px;margin:0 auto 15px}
.sp-header-v4 .tg-logoarea,.sp-header-v3 .tg-logoarea{padding:20px 0}
.sp-header-v3 .tg-logo{width:140px;margin:0 auto 0}
.tg-logoarea .tg-rightbox{text-align:center}
.tg-logoarea .tg-adminbox{top:auto;float:none;text-align:left;position:relative;display:inline-block;vertical-align:middle;width:100%;float:left}
.tg-logoarea .tg-loginregister{margin:0 auto;margin-left:5px;width:100%}
.tg-headervtwo .tg-logoarea .tg-adminbox i{padding:14px;background:#f7f7f7;border-radius:100%}
.logged-in .tg-headervtwo .tg-logoarea .tg-adminbox i{padding:0;border-radius:0;background:0}
.logged-in .tg-headervtwo .tg-logoarea .tg-userdropdown img{margin-left:5px}
.tg-headervthree .tg-loginregister i{padding:14px;background:#f7f7f7;border-radius:100%}
.tg-headervthree .tg-logoarea .tg-loginregister{text-align:center}
body.tg-login .tg-logoarea .tg-adminbox{width:210px}
.tg-popularcatagories li,.tg-popularcities>[class^="col-"],.tg-popularcities>[class*="col-"]{width:100%}
.tg-popularcatagories li+li{border-left:0}
.tg-catagory{width:100%}
.tg-catagory+.tg-catagory{border-left:0;border-top:1px solid #eee}
.tg-generallabor li{width:100%}
.tg-generallabor li:before{top:-3px;left:50%;width:60px;z-index:2;content:'';height:6px;background:#fff;position:absolute;margin:0 0 0 -30px;border-radius:50px}
.tg-generallabor li:hover,.tg-generallabor li:hover:before{z-index:1;-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.tg-generallabor li:hover:before{margin:0 0 0 -30px}
.tg-generallabor li a{height:100px}
.tg-generallabor li a i{font-size:40px;line-height:40px}
.tg-bannerholder .tg-bannercaption{margin:0 0 30px;text-align:center}
.tg-bannerholder .tg-bannercontent h1{font-size:25px;line-height:20px}
.tg-bannerholder .tg-bannercontent .tg-description p{font-size:12px;line-height:18px}
.tg-bannerholder .tg-bannercontent .tg-searchbox legend{font-size:20px;line-height:20px}
.tg-bannerholder .tg-searchbox .tg-btns .tg-btn{padding:0 19px}
.tg-bannerholder .tg-searchbox .tg-btns .tg-btn+.tg-btn{margin:0 0 0 10px}
.tg-bannerholder .tg-bannercontent .tg-btnbox{text-align:center}
.tg-headervthree .tg-leftbox{width:100%;text-align:center}
.tg-headervthree .tg-btnpostanewjob{float:none;display:inline-block}
.tg-headervthree .tg-socialicons{width:100%;float:left}
.tg-headervthree .tg-socialicons li{float:none;display:inline-block;vertical-align:middle}
.tg-headervthree .tg-logoarea .tg-adminbox{width:210px;float:none;display:block;margin:0 auto;padding:15px 0 0;}
.tg-dragdropoption .tg-contentheading{width:100%;}
	.tg-btnreset{
		float:left;
		padding:0 0 30px;
	}
	.tg-dragdropimg{overflow:hidden;}
	.tg-dragdropimg img {
		width: auto;
		max-width: none;
		margin: 0 0 0 -260px;
	}
	.tg-sortcontentitems .tg-timebox span{font-size:13px;}
	.tg-compnayinfo .tg-title h1 {
		font-size: 15px;
		line-height: 15px;
	}
	.tg-listnav {
		top: 0;
		position: relative;
		margin: 0 0 0 15px;
	}
	body.rtl .tg-headervthree .tg-logoarea .tg-adminbox {width: 100%;}
	.sp-header-v3 .tg-logoarea .tg-logo {
		float: none !important;
		display: block;
		margin: 0 auto 20px;
		overflow: hidden;
		width: 185px;
	}
}@media(max-width:479px){.tg-addressinfo li{padding:0 4px}
.tg-btndropdown{padding:10px}
.tg-userdropdown .tg-btndropdown{padding:6px 10px}
.tg-userdropdown em{margin:2px 8px 0 0}
.tg-noticeboard img{width:200px}
.tg-pagetitle{width:100%;text-align:center;margin:0 0 10px}
.tg-breadcrumb{width:100%;text-align:center}
.tg-breadcrumb li{float:none;display:inline-block}
.tg-appointmentheading h2{padding:10px 0}
.tg-appointmenthead .tg-btnedite{width:40px;height:40px;font-size:15px;line-height:40px}
.tg-btndontwant{display:block;margin:20px 0 0}
.tg-progressbox .tg-btn{width:100%}
.tg-progressbox .tg-btn+.tg-btn{margin:20px 0 0}
.tg-formbookappointment .tg-radio label img{display:block;margin:10px 0 0}
.tg-alreadyhaveaccount{width:100%;margin:15px 0 0}
.tg-feedback figure,.tg-feedbackcontent,.tg-authorcontent{padding:0}
body.author .tg-feedback figure{margin:0 0 15px;position:relative}
.tg-name h4{font-size:14px}
.tg-postshare .tg-socialicons li{padding:4px}
blockquote{font-size:15px;line-height:20px;font-weight:500}
.tg-detailpage .tg-postcontent .tg-title h3{font-size:20px;line-height:20px}
.tg-languages .tg-themeliststyle li{width:50%}
.tg-amenities ul li,.tg-gallery ul li,.tg-videos ul li,.tg-reviewtitle,.tg-ourteam ul li,.tg-recommendedradio,.tg-formleavefeedback .form-group .tg-select,.tg-sortfilter{width:100%}
.tg-sortfilter+.tg-sortfilter{margin:10px 0 0}
.tg-pagination ul li{margin:0}
.tg-reviewtitle{margin:0 0 20px}
.tg-panel .tg-accordionheading h4{font-size:13px;line-height:14px}
.tg-dashboardbox .tg-dashboardtitle h2{font-size:15px}
.tg-btnaddnew{font-size:12px}
.tg-pkgexpirey h3{font-size:30px;line-height:30px}
.tg-jobdetail .tg-detailpageheadcontent{padding:0}
.tg-jobdetail .tg-detailpagehead .tg-companycontent{width:100%;float:left}
.tg-deactivatemodal .tg-modalbody h3{font-size:17px;line-height:20px}
.tg-testimonialnavigationslider{padding:30px 0 0 0}
.sp-comments-wrap li.tg-feedback .children{padding:0 0 0 20px}
.sp-comments-wrap li figure{width:40px}
.sp-comments-wrap li.tg-feedback .tg-feedbackcontent{width:auto;float:none;padding:0 0 0 50px;overflow:hidden}
body.rtl .tg-ceobottom .tg-logo{float:right!important}
.sp-header-v2 .tg-nav{width:auto;}
.sp-header-v2 .header-type-v2{float:right;}
.sp-header-v2 .tg-rightarea .tg-btn{width:100%;margin:15px 0 0}
.sp-header-v2 .header-type-v2 .tg-usermenu{left:0}
body.rtl .sp-header-v2 .tg-rightarea .tg-btn {margin: 15px 0 0 !important;}
}@media(max-width:439px){.tg-dashboardfavoritelisting .tg-servicetitle .tg-clientcontent{width:100%;float:left;padding:10px 0 0}
.tg-dashboardfavoritelisting .tg-dashboardappointment .tg-btntimeedit .tg-btndel{width:40px;height:103px;line-height:103px}
.tg-imgattachemnet li{width:50%;padding:5px}
.tg-dashboardfavoritelisting .tg-dashboardappointment .tg-servicetitle{width:100%;text-align:center}
.tg-dashboardappointment .tg-servicetitle figure{float:none;display:inline-block}
.tg-dashboardfavoritelisting .tg-servicetitle h2{width:100%;text-align:center}
.tg-dashboardfavoritelisting .tg-dashboardappointment .tg-matadata{text-align:center}
.tg-dashboardfavoritelisting .tg-dashboardappointment .tg-matadata li{float:none;display:inline-block}
.tg-postmatadata.tg-postmatadatalikeunlike{float:left;width:100%;padding:15px 0 0!important}
.tg-reviews .tg-reviewstabs li a{padding:0 30px;font-size:15px}
.sticky-queue{width:320px;}
.top-center{margin-left:-160px}
.center-center{margin-left:-160px}
}@media(max-width:360px){.tg-companyfeaturebox .tg-feedbacks ul.tg-matadata li{width:100%}
.tg-companyfeaturebox .tg-feedbacks ul.tg-matadata li+li{padding:5px 0 0}
.tg-companyfeaturebox .tg-feedbacks ul.tg-matadata li:before{display:none}
}@media(max-width:320px){.tg-radiotimeslot{width:100%}
}